<form name="myForm">
    <div>
        <label>ID</label>
        <label>{{focus._id}}</label>
    </div>
    <div>
        <label>r</label>
        <label>{{focus.r}}</label>
    </div>
    <div>
        <label>q</label>
        <label>{{focus.q}}</label>
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="name" ng-model="focus.name">
    </div>
    <div>
        <label>Height</label>
        <input type="number" name="height" ng-model="focus.height">
    </div>
    <div>
        <label>Moist</label>
        <input type="number" name="moist" ng-model="focus.moist">
    </div>
    <textarea >{{focus}}</textarea>
</form>