main,main>div{
	display : flex;
	flex-direction: row;
	align-items: stretch;
	flex: 1;
}
.editor-menu{
	background-color:rgba(147,0,108,.1);
	min-height:30px;
	display : flex;
	flex-direction: row;
	align-items: center;
}
.menu-icon{
	margin: 5px 20px ;
}
editor-map{
	display : flex;
	flex:1;

}
.tools,.edit-box{
	flex:1;
}
.drawarea{
	border-color:black;
	border-style:dotted;
}
.brusharea{
	display : flex;
	flex-direction: column;
	overflow: y-scroll;
}
.brusharea>brush-canvas{
	flex:1;
	border-color:black;
	border-style:dotted;
}
.flexBoxRow{
	display : flex;
	flex-direction: row;
	flex:1;
}
.flexBoxCol{
	display : flex;
	flex-direction: column;
	flex:1;
}
.flex-1{
	flex:1;
}
.flex-3{
	flex:3;
}