doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title= title
    // Latest compiled and minified CSS
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    // Optional theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
    // Optional theme
    // Custom styles for this template
    link(href="/stylesheets/style.css", rel="stylesheet")
    block styles
    
  body(ng-app="app")
    header
      // Static navbar
      nav.header
        .title 
            a.navbar-brand(href='/') Hex Wonder
        .links
          if user
            a(href='/game') Game
            a(href='/editor') Editor
        .login
          if user
            a(href='#!') #{ user.username }
            a(href='/logout') Signout
          else
            a(href='/login') Login
      block menus  
    main
      block contents
    footer
      nav.footer
       p.text-muted Place sticky footer content here.
    //
       Bootstrap core JavaScript
          ================================================== 
    // Placed at the end of the document so the pages load faster
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    // Latest compiled and minified JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js")
    script(src="/javascripts/vendors/ui-bootstrap-tpls-0.12.0.min.js")
    script(src="/javascripts/tool-lib.js")

    block scripts

