<div class="well">
	<h3>Name:</h3><label>{{focus.playerId}}</label>
	<div >
		<h3>Attributs</h3>
		<div class="row">
			<div class="col-md-4">
				<label>Physic</label>
				<ul>
					<li ecs-attributs name="Strength" value="focus.attributs.physic.strength" ></li>
					<li ecs-attributs name="Dexterity" value="focus.attributs.physic.dexterity" ></li>
					<li ecs-attributs name="Stamina" value="focus.attributs.physic.stamina" ></li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>Social</label>
				<ul>
					<li ecs-attributs name="Charisma" value="focus.attributs.social.charisma" ></li>
					<li ecs-attributs name="Empathy" value="focus.attributs.social.empathy" ></li>
					<li ecs-attributs name="Will" value="focus.attributs.social.will" ></li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>Mental</label>
				<ul>
					<li ecs-attributs name="Logic" value="focus.attributs.mental.logic" ></li>
					<li ecs-attributs name="Ingeniosity" value="focus.attributs.mental.ingeniosity" ></li>
					<li ecs-attributs name="Abstraction" value="focus.attributs.mental.abstraction" ></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<h3>Skills</h3>
		<div class="row">
			<div class="col-md-4">
				<label>Combats</label>
				<ul>
					<li ecs-attributs name="Offensive" value="focus.skills.combat.offensive" ></li>
					<li ecs-attributs name="Defensive" value="focus.skills.combat.defensive" ></li>
					<li ecs-attributs name="Subversive" value="focus.skills.combat.subversive" ></li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>Moves</label>
				<ul>
					<li ecs-attributs name="Athletism" value="focus.skills.move.athletism" ></li>
					<li ecs-attributs name="Acrobatics" value="focus.skills.move.acrobatics" ></li>
					<li ecs-attributs name="Stealth" value="focus.skills.move.stealth" ></li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>Gift</label>
				<ul>
					<li ecs-attributs name="Power" value="focus.skills.gift.power" ></li>
					<li ecs-attributs name="Weaving" value="focus.skills.gift.weaving" ></li>
					<li ecs-attributs name="Influence" value="focus.skills.gift.influence" ></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label>Social</label>
				<ul>
					<li ecs-attributs name="Presence" value="focus.skills.social.presence" ></li>
					<li ecs-attributs name="Bargain" value="focus.skills.social.bargain" ></li>
					<li ecs-attributs name="Subterfuge" value="focus.skills.social.subterfuge" ></li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>empirism</label>
				<ul>
					<li ecs-attributs name="Engineering" value="focus.skills.empirism.engineering" ></li>
					<li ecs-attributs name="Nature" value="focus.skills.empirism.nature" ></li>
					<li ecs-attributs name="Crafts" value="focus.skills.empirism.crafts" ></li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>Knowledge</label>
				<ul>
					<li ecs-attributs name="Science" value="focus.skills.knowledge.science" ></li>
					<li ecs-attributs name="Civilization" value="focus.skills.knowledge.civilization" ></li>
					<li ecs-attributs name="Mysticism" value="focus.skills.knowledge.mysticism" ></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<h3>Status</h3>
		<div class="row">
			<div class="col-md-4">
				<label>Endurance</label>
				<ul>
					<li ecs-value name="Breath" value="focus.status.endurance.breath" ></li>
					<li ecs-value name="Recorvery" value="focus.status.endurance.recorvery" ></li>
					<li ecs-range name="Exhaustion" value="focus.status.endurance.exhaustion" max="20" ></li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>Health</label>
				<ul>
					<li ecs-value name="Vitality" value="focus.status.health.vitality" ></li>
					<li ecs-value name="Regeneration" value="focus.status.health.regeneration" ></li>
					<li>
						<ul>
							<li ecs-range name="Armor" value="focus.status.health.wounds.superficial.level" max="10" ></li>
							<li ecs-range name="Minor" value="focus.status.health.wounds.minor.level" max="8"></li>
							<li ecs-range name="Deep" value="focus.status.health.wounds.deep.level" max="6"></li>
							<li ecs-range name="Serious" value="focus.status.health.wounds.serious.level" max="3"></li>
							<li ecs-range name="Fatal" value="focus.status.health.wounds.fatal.level" max="1"></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<label>Psych</label>
				<ul>
					<li ecs-value name="Moral" value="focus.status.psych.moral" ></li>
					<li ecs-value name="Adrenaline" value="focus.status.psych.adrenaline" ></li>
					<li ecs-value name="Serenity" value="focus.status.psych.serenity" ></li>
				</ul>
			</div>
		</div>
	</div>
	<textarea>{{focus}}</textarea>
</div>